@{
    Layout = "_Layout";

    var selectedTab = ViewBag.SelectedManageTab;
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header py-3">
                <span class="h6">Settings</span>
            </div>
            <div class="list-group">
                <a asp-controller="Profile" asp-action="Index" class="list-group-item  list-group-item-action @(selectedTab == "profile" ? "active" : "") d-flex justify-content-between">
                    <div>
                        <i class="fa fa-user-circle mr-2"></i>
                        <span>Profile</span>
                    </div>
                    <div>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <a asp-controller="ChangePassword" asp-action="Index" class="list-group-item  list-group-item-action @(selectedTab == "password" ? "active" : "") d-flex justify-content-between">
                    <div>
                        <i class="fa fa-user-circle mr-2"></i>
                        <span>Password</span>
                    </div>
                    <div>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <a asp-controller="Email" asp-action="Index" class="list-group-item  list-group-item-action @(selectedTab == "email" ? "active" : "") d-flex justify-content-between">
                    <div>
                        <i class="fa fa-envelope mr-2"></i>
                        <span>Email</span>
                    </div>
                    <div>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @RenderBody()
    </div>
</div>