@using IdentityServer4.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/assets/styles.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.IsAuthenticated())
                {
                    <li>
                        Hello @User.Identity.Name, <a asp-controller="Logout" asp-area="">Logout</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
